.nav-list {
	text-align: center;
	background: #d9d9d9;
	margin: 0 -30px;
}

.nav-item {
	display: inline-block;
	padding: 0 31px;
	background: #d9d9d9;
}

.foot-list {
	text-align: center;
}

.foot-item {
	display: inline-block;
	padding: 0 31px;
}

.title {
	text-align: center;
}

body {
	background: #02b5c4;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 29px;
}

.right {
	width: 150px;
	height: 100vh;
	float: right;
	background: #e8e8e8;
	padding: 0 0 0 5px;
	position: fixed;
	left: 1120px;
	border: 1px solid #696969;
}

#wrapper {
	width: 1200px;
}

header {
	width: 100%;
	height: 71px;
	background-color: #e8e8e8;
	margin: 0 0 0 210px;
	padding: 30px;
	max-width: 740px;
	border: 1px solid #696969;
}

#main {
	width: 100%;
	height: auto;
	background-color: #eee;
	float: left;
	margin: 0 0 0 210px;
	padding: 30px;
	max-width: 740px;
	border: 1px solid #696969;
}

.side-list {
	margin: 20px 0;
}

.home-page-img {
	width: 100%;
	max-width: 450px;
}

.ep-div {
	float: right;
	display: inline-block;
	clear: both;
}

h3 {
	text-align: center;
	margin: 35px 65px 0 0;
}

.click-here {
	text-align: center;
	margin: 35px 65px 66px;
	font-size: 20px;
	
}

#about-page-img {
	width: 100%;
	max-width: 250px;
}

.rect-img {
	width: 275px;
	height: 150px;
}

.footer-img {
	width: 70px;
	height: 70px;
}

footer {
	width: 100%;
	height: auto;
	background-color: #FFFFFF;
	float: left;
	margin: 0 0 0 210px;
	padding: 30px;
	max-width: 740px;
	clear: both;
	border: 1px solid #696969;
}

a {
	color: #696969;
	text-decoration: none;
}

a:hover {
	color: #383838;
}