@import url('https://fonts.googleapis.com/css?family=Karla');

html, body {
    max-width: 100%;
    overflow-x: hidden;
    height: 100%
}

#page-container{
	width: 100%;
	/*min-width: 1143px;*/
}

.nav-list {
	text-align: center;
	margin: 0 auto;
	background: #023B40;
	float: right;
	list-style-type: none;
}

.nav-item {
	float: left;
	padding: 0 31px 10px 31px;
	background: #023B40;
}

.nav-item a {
	color: #fff;
	display: block;
	font-family: 'Karla', sans-serif;
	font-size: 20px;
	line-height: 80px;
	clear: right;
}

.nav-item a:hover {
	color: #d9d9d9;
}

.icons-left {
	list-style-type: none;
	float: right;
}

.foot-item {
	padding: 5px 5px 5px 0;;
}

.title {
	text-align: center;
	background: #fff;
}

body {
	background: #e8e8e8;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 29px;
	margin: 0;
}

.right {
	width: 170px;
	top: 131px;
	float: right;
	right: 0;
	background: #e8e8e8;
	height: 100%;
	position: fixed;
	margin: auto;
	padding-right: 21px;
}

.right a {
	text-decoration: none;
	color: #023B40;
	font-weight: normal;
	font-size: 22px;
}

.right a:hover {
	color: #c8c8c8;
}

.left {
	float: left;
	background: #e8e8e8;
	width: 150px;
	padding: 0 20px 0 0;
	position: fixed;
	left: 0;
	margin: auto;
	height: 100%;
}

.left p {
	font-size: 22px;
	font-weight: bold;
	float: left;
	padding: 0 0 0 22px;
}

#wrapper {
	width: 100%;
	max-width: 1100px;
	height: 100%;
	text-align: center;
	background: #e8e8e8;
	display: inline;
}

header {
	width: 100%;
	background-color: #023B40;
	text-align: center;
	height: 100px;
}

#main {
	width: 100%;
	background-color: #FFF;
	max-width: 740px;
	margin: 0 auto;
	text-align: center;
	padding: 20px 0;
	border-width: 0 1px;
	border-color: #C8C8C8;
	border-style: solid;
}

#main h2 {
	font-family: 'Karla', sans-serif;
	font-size: 30px;
}

#main p {
	margin: 16px;
}

.side-list {
	margin: 20px 0;
}

.side-list a {
	font-family: 'Karla', sans-serif;
}

.home-page-img {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	max-width: 450px;
	margin-left: 6px;
	border-width: 1px;
	border-color: #696969;
	border-style: solid;
}

.ep-div {
	display: inline-block;
	vertical-align: middle;
	clear: both;
	width: 200px;
	background: #d9d9d9;
}

.ep-div a{
	font-family: 'Karla', sans-serif;
	border-radius: 10px;
}

h3 {
	text-align: center;
	/*margin: 15px 65px 0 0;*/
	font-family: 'Karla', sans-serif;
}

.click-here {
	text-align: center;
	font-size: 20px;
	
}

#about-page-img {
	width: 100%;
	max-width: 250px;
	border-width: 1px;
	border-color: #696969;
	border-style: solid;
	margin: 7px;
}

.rect-img {
	width: 275px;
	height: 150px;
	border-width: 1px;
	border-color: #696969;
	border-style: solid;
}

.footer-img {
	width: 30px;
	height: 30px;
}

footer {
	width: 100%;
	max-width: 740px;
	height: 40px;
	background-color: #383838;
	color: #FFF;
	margin: 0 auto;
	clear: both;
	border-width: 0 1px;
	border-color: #383838;
	border-style: solid;
	padding-top: 20px;
}

footer p {
	 text-align: center;
	 margin: 0;
}

a {
	color: #696969;
	text-decoration: none;
}

a:hover {
	color: #d9d9d9;
}

.small-text {
	font-size: 12px;
	font-weight: lighter;
	color: #696969;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 30%;
  color: #02b5c4;
  background: #023B40;
  float: left;
  margin: 45px 0 0 25px;
  display: flex;
  align-items: center;
  justify-content: center
}

.circle p {
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	padding: 0;
}

.circle a{
	font-family: 'Karla', sans-serif;
}

.click-here-button {
	text-align: center; 
	background: #023B40;
	color: #fff;
	padding: 10px 12px;
	border-width: 1px;
	border-style: solid;
	border-color: #d9d9d9;
	font-weight: bold;
}

.indented-text {
	clear: both; 
	text-align: left; 
}

input {
	display: block;
}

textarea {
	resize: none;
}

.contact {
	line-height: 8px;
	font-size: 14px;
	text-align: center;
	margin-left: 41px;
	margin-right: 41px;
}

.contact h3 {
	margin: 0;
}

label {
	margin: 0 30px 0 0;
	font-size: 30px;
	display: none;
	width: 30px;
	float: right;
	color: #FFF;
}

#toggle {
	display: none;
}

@media only screen and (max-width: 1050px){
	label {
		display: block;
		cursor: pointer;
		line-height: 90px;

	}
	.nav-list {
		text-align: center;
		width: 100%;
		max-height: 0px;
		display: none;
		clear: both;

	}

	.nav-item{
		float: none;
	}
	
	.nav-item a {
		display: block;
		border-bottom: 1px solid #696969;
		margin: 0;

	}
	#toggle:checked + .nav-list {
		display: block;
		transition-property: all;
		transition-duration: .2s;
		transition-timing-function: ease-in-out;
		max-height: 600px;
	}
}

@media all and (max-width: 1125px) {
	.right { display: none; }
	.left { display: none; }
}